html {
  font-size: 20px;
}
body {
  padding-left: 5%;
  padding-right: 5%;
}
p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: 80px;
  padding: 0 6%;

  background-color: white;
  box-sizing: border-box;
  z-index: 100;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  animation: fadeInUp 1.3s;
  overflow: hidden;
}

.header-right {
  gap: 25px;
}
#j-icon {
  font-size: 18px;
  color: white;
  align-content: center;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  background-color: black;
}

.header-name {
  font-size: 22px;
  color: black;
  margin-left: 5px;
  transition: 0.5s ease;
}

#right-icon {
  font-size: 25px;
  color: orangered;
  margin-right: 20px;
  animation: zoomIn 2s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-image {
  height: 300%;
  width: 45%;
  animation: fadeInDown 2s;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-content {
  display: flex;
  flex-direction: column;
  align-self: start;
  margin-top: 2%;
  width: 50%;
  box-sizing: border-box;
}

.stats {
  display: flex;
  justify-content: start;
  padding-left: 8%;
  gap: 8%;
}
.stat-number {
  font-size: 40px;
  font-weight: bold;
  color: orangered;
}
.stat-label {
  font-size: 25px;
  color: gray;
}

.about {
  margin-top: 40px;
}
.about-title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border-bottom: 2px solid orangered;
  margin-top: 30px;
  margin-bottom: 10px;
}
.about-content {
  font-size: 130%;
  color: gray;
  margin-top: 10px;
  margin-bottom: 30px;
}
#btn {
  background-color: white;
  color: orangered;
  border: 2px solid orangered;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s ease;
}

#btn:focus {
  background-color: orangered;
  color: white;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.core-skills,
.other-skills {
  width: 49%;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  margin-top: 20px;
}
.skill-btn {
  background-color: white;
  color: black;
  border: 2px solid gray;
  padding: 12px 30px;
  border-radius: 25px;
  font-size: 14px;
}

.experience-title {
  margin-top: 40px;
  align-self: flex-start;
}

.experience {
  display: flex;
  justify-content: space-between;
}
.present,
.pass {
  width: 49%;
}
.experience-duration {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 8px;
}
.experience-company {
  font-size: 32px;
  margin-bottom: 8px;
}
.experience-job {
  font-size: 20px;
  margin-bottom: 25px;
}
.experience-list {
  color: gray;
  padding-left: 10px;
}
.experience-list li {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  .header {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 13%;
    padding-right: 13%;
  }
  .header-name {
    transform: scale(0);
    transform-origin: left;
    transition: 0.5s ease;
  }

  .information {
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
  }
  .info-image,
  .info-content {
    padding: 0;
    width: 80%;
  }

  .info-content {
    margin-left: 5%;
  }

  .info-content p {
    padding: 0;
    margin: 0;
  }

  .about {
    width: 80%;
  }

  #btn {
    font-size: 14px;
  }

  .skills {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .core-skills,
  .other-skills {
    width: 100%;
    gap: 20px;
  }

  .experience-title {
    width: 80%;
    align-self: auto;
  }

  .experience {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .present,
  .pass {
    width: 100%;
  }
}
